/* Acá van tus reglas de estilo */
/* Estilo general de la web */
body {
  background-image: url("./media/fondo1.png");
}
.show{
display: block !important;
}
.hide{
display: none !important;
}
/* Estilo a Login */
#login {
  margin: 22rem;
  padding: 1rem;
  text-align: center;
}
#password {
  width: 50%;
  text-align: center;
  padding: 5px 12px;
  margin: 10px 5;
  box-sizing: border-box;
  border: 2 px solid blueviolet;
  border-radius: 4px;
}
/* Estilo a botón entrar*/
#boton_entrar {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a segunda pantalla quehacer*/
#queHacer {
  margin: 15rem;
  padding: 3rem;
}
/* Estilo de párrafo*/
h1 {
  font-family: Helvetica;
  color: white;
  font-size: 20px;
}
/* Estilo a botón cifrar*/
#hideButton {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a botón cifrar*/
#discoverButton {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a tercera pantalla con agregar datos*/
#writeMessage {
  margin: 10rem;
  padding: 0rem;
  text-align: center;
}
/* Estilo a caja de texto*/
#name {
  width: 60%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
/* Estilo a combobox número de desplazamiento*/
#desplazamiento {
}
/* Estilo a botón enviar*/
#codificar {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a cuarta pantalla con resultado*/
#textoResultado {
  margin: 26rem;
  padding: 1rem;
  text-align: center;
}
/* Estilo a botón copiar*/
#copyText {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}

/* Estilo a botón olvidar*/
#borrarTexto {
  border-radius: 40px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
footer {
  background: white;
}
