/* Acá van tus reglas de estilo */
/* Estilo del body de la web app */
body {
  background-image: url('./media/fondo_login.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%; 
  height: auto;

}
section{
  padding-bottom: 10px;

}
.show{
  display: block !important;
}
.hide{
 display: none !important;
}
/* Estilo a Login  */
#login {
  margin: 22rem;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}
/* Estilo caja de texto para palabra secreta */
#password {
  width: 50%;
  text-align: center;
  padding: 5px 12px;
  margin: 10px 5;
  box-sizing: border-box;
  border: 2 px solid blueviolet;
  border-radius: 4px;
}
/* Estilo a botón entrar*/
#btnEntrar {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a pantallas*/
#primeraPantalla {
  margin: 15rem;
  padding: 3rem;
}
#segundaPantallaCifrar{
  margin: 10rem;
  padding: 3rem;
}


#segundaPantallaDescifrar{
  margin: 15rem;
  padding: 3rem;
}
/* Estilo de párrafo*/
h1 {
  font-family: Helvetica;
  color: white;
  font-size: 20px;
}
/* Estilo a botón cifrar*/
#btnCifrar {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a botón cifrar*/
#btnDescifrar  {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a tercera pantalla con agregar datos*/
#terceraPantallaConResultados {
  margin: 10rem;
  padding: 0rem;
  text-align: center;
}
#textoParaCifrar{
  margin: 10rem;
  padding: 0rem;
  text-align: center;
  width: 60%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
#textoParaDescifrar{
  margin: 10rem;
  padding: 0rem;
  text-align: center;
  width: 60%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
/* Estilo a caja de texto*/
#mensajeADescifrar {
  margin: 10rem;
  padding: 0rem;
  text-align: center;
  width: 60%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
/* Estilo a combobox número de desplazamiento*/
#desplazamientoCifrar {
  margin: 0rem;
  padding: 0rem;
  text-align: center;
}

#desplazamientoDescifrar {
  margin: 0rem;
  padding: 0rem;
  text-align: center;
}
/* Estilo a botón enviar*/
#btnQueProcesaCifrado { 
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 4px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
/* Estilo a cuarta pantalla con resultado*/
#btnQueProcesaDescifrado {
  margin: 26rem;
  padding: 1rem;
  text-align: center;
}
/* Estilo a caja resultado con texto a cifrar o descifrar*/
#terceraPantallaResultados{
  width: 60%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
 
}
/* Estilo a caja de texto con resultado */
#cajaResultado{
  width: 50%;
  text-align: center;
  padding: 5px 12px;
  margin: 10px 5;
  box-sizing: border-box;
  border: 2 px solid blueviolet;
  border-radius: 4px;
}
/* Estilo a botón copiar*/
#copyText {
  border-radius: 50px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}

/* Estilo a botón olvidar*/
#volverLogin {
  border-radius: 40px;
  padding: 10px 24px;
  background-color: #d1c6c6;
  margin-bottom: 10px;
  border-color: #ffffff;
  border-radius: 8px;
  color: white;
}
footer {
  background: white;
  position: relative;
  padding-top: 10px;
 

}
